@import url('https://fonts.googleapis.com/css2?family=Moirai+One&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

/* Palettes */

:root {
  --othercolor: #E74646/*#B08BBB*/; 
  --lavender : #B08BBB;
  --cambridgeblue: rgb(134, 186, 144);
  --buff: rgb(223, 160, 110);
  --black: #000004;
  --wine: rgb(124, 50, 56);
}

h3, h4 {
  font-family: "Bagel Fat One";
  font-weight: 480;
}

article {
  font-family: "Kanit";
}

.name {
  /*font-family: 'Bagel Fat One', script;*/
  font-family: "Moirai One";
  font-size: 7.1em;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 40px;
  width: 500px;
  /*text-shadow:  0 0 7px #fff, 
  0 0 10px #fff, 
  0 0 42px var(--buff),   
  0 0 77px var(--buff), 
  0 0 100px var(--buff);*/
}

code {
  font-family: inherit;
}

.codeblock {
  color: white;
  background-color: #444;
  font-family: Consolas, 'Courier New', monospace;
  border-radius: 4px;
}

.blogtitle {
  font-family: 'Bagel Fat One', script;
  font-size: 4em;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 40px;
  width: 500px;
  /*text-shadow:  0 0 7px #fff, 
  0 0 10px #fff, 
  0 0 42px var(--buff),   
  0 0 77px var(--buff), 
  0 0 100px var(--buff);*/
}

#gu1 {
  color: var(--cambridgeblue);
}

#pseudo256 {
  color: var(--wine);
}

#gu2 {
  color: var(--buff);
}

.projects {
  cursor: pointer;
  font-family: 'Bagel Fat One', script;
  color: var(--cambridgeblue);
  font-size: 1.8em;
}

.contact {
  cursor: pointer;
  color: var(--buff);
  font-family: 'Bagel Fat One', script;
  font-size: 1.8em;
}

.news {
  cursor: pointer;
  color: black;
  font-family: 'Bagel Fat One', script;
  font-size: 1.8em;
}

.buymeacoffee {
  cursor: pointer;
  color: var(--wine);
  font-family: 'Bagel Fat One', script;
  font-size: 1.8em;
}

.hiddenpart {
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: white;
  cursor: url(https://i.redd.it/exv6gqxem8ya1.png), auto;
}

h3 {
  font-size: 1.5em;
}

.part {
  background-color: white;
  width: 500px;
  text-align: justify;
}


#links {
  text-align: center;
}

p, li {
  font-family: "Kanit";
}

#projectspart {
  color: var(--cambridgeblue);
}

#contactspart {
  color: var(--buff);
}

#newspart {
  color: black;
}

#coffeepart {
  color: var(--wine);
}

#headline {
  font-size: 1.7em;
  font-family: "Roboto Slab";
  width: 500px;
}

#py {
  color: var(--cambridgeblue);
}

#html {
  color: var(--buff);
}

#css {
  color: var(--wine);
}

::-webkit-scrollbar {
  display: none;
}